/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Bb]uild/
/[Bb]uilds/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
/.plastic/
/.vs/
/.idea/
/.vscode/
/.vsconfig
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.log
*.keystore
*.jks
*.pfx
*.pem
.env
.env.*
!*.meta
